/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.nav-link {
  color: white;
}




.nav-link:hover {
  text-decoration: underline red;
  text-underline-offset: 4px;
  font-weight: bold;
  
}



.transparent {
  background-color: #7e141412;
}

.grey {
  background-color: gainsboro;
}

.news-box {
  width: 95%
}